### https://raw.github.com/github/gitignore/9779d87d3d81ffacd90ae2470e7b3ffe566ffc71/Global/Vagrant.gitignore

.vagrant/


### https://raw.github.com/github/gitignore/bfcae73085d01fa0cf2af868eaf51c0141ecbb9f/Haskell.gitignore

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
